<?xml version="1.0" encoding="utf-8"?>
<manifest package="si.uni_lj.fri.taskyapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>

    <application
        android:name=".TaskyAppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="taskyapp.db"/>
        <meta-data
            android:name="VERSION"
            android:value="4"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="false"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="si.uni_lj.fri.taskyapp"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA2EHFaZ0JhQWSzeKThVHtDx_Kp82Agg_k"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ListDataActivity"
            android:label="@string/title_activity_list_data"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast_receivers.KeepSensingAliveReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <!-- specific for HTC phones -->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                <!-- Reboot intent -->
                <action android:name="android.intent.action.REBOOT"/>
                <action android:name="si.uni_lj.fri.taskyapp.KeepAliveAction"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast_receivers.ShowPrizeReminderNotificationReceiver"/>
        <receiver android:name=".broadcast_receivers.ConnectivityChangedReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.SenseDataIntentService"/>
        <service android:name=".service.SenseDataIntentService$MyActivityRecognitionIntentService"/>
        <service android:name=".service.ScreenStateService"/>
        <service android:name=".service.SendDataToServerIntentService"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="13e2f1c1cf34311a349f9ea7132fbad2f1d7405b"/>

        <activity
            android:name=".LabelTaskActivity"
            android:label="@string/label_task_title"
            android:parentActivityName=".ListDataActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_app_title"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.uni_lj.fri.taskyapp.MainActivity"/>
        </activity>
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name=".service.AggregateDataDailyIntentService"
            android:exported="false">
        </service>

        <activity
            android:name=".GoogleMapFullScreenActivity"
            android:label=""
            android:parentActivityName=".StatisticsActivity"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name=".service.QueryGoogleFitSleepDataIntentService"
            android:exported="false">
        </service>

        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast_receivers.NotificationActionsBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="si.uni_lj.fri.taskyapp.NotificationClickAction"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ChooseWearableActivity"
            android:screenOrientation="portrait">
        </activity>


        <service
            android:name="com.angel.sdk.BleController"
            android:enabled="true" >
        </service>
    </application>

</manifest>